image:
  registry: registry.gitlab.com/ska-telescope/ska-mid
  image: ska-mid-testing
  tag: 28.5.0-dev.c194c1a83
  pullPolicy: IfNotPresent
environment:
  E2E_TEST_EXECUTION_NAMESPACE: "ska-mid-central-controller"
  KUBE_NAMESPACE: "ska-mid-central-controller"
  SIM_MODE: "false"
  SUT_CLUSTER_DOMAIN: "mid.internal.skao.int"
  DISH_IDS: "SKA100"
  PB_ID_PREFIX: "pb-ska001demo"
  EB_ID_PREFIX: "eb-ska001demo"
  OVERRIDE_SCAN_BAND: "2"
  OVERRIDE_SCAN_DURATION: "300"
  NODE_WITH_100G_INTERFACE: ""
  NODE_LABEL_FOR_100G_GROUP: ""
  OVERRIDE_MULTISCAN_BANDS: ""
  OVERRIDE_MULTISCAN_NUMBER_OF_SCANS: ""
  OVERRIDE_MULTISCAN_DELAY_BETWEEN_SCANS: ""
testReportsPVC: pvc-test-data-storage
mountPath: /data/test-reports
CBFMCSconfigMountPath: /app/ska-mid/resources/mcs
E2ETest: tests/integration/tmc/test_telescope_on.py::test_telescope_on_via_tmc
testJobName: "telescope-on-test"
