[submodule ".engineering-tools"]
	path = .engineering-tools
	url = https://gitlab.com/ska-telescope/ska-mid-itf-engineering-tools.git
	shallow = true
[submodule ".jupyter-notebooks"]
	path = .jupyter-notebooks
	url = ../ska-mid-jupyter-notebooks.git
	shallow = true
