# yaml-language-server: $schema=resources/schemas/config-schema.json
name: ska-mid-itf
version: 0.1.0
parts:
  ska-tango-base:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    platformDependents:
      - ska-mid-cbf-mcs
      - ska-csp-lmc-mid
    alias: "Tango Base"
  ska-tango-util:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    platformDependents:
      - ska-mid-cbf-mcs
      - ska-csp-lmc-mid
    alias: "Tango Util"
  ska-tmc-mid:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies:
      - "ska-csp-lmc-mid"
      - "ska-dish-lmc"
      - "ska-sdp"
    alias: "TMC"
    root:
  ska-sdp:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: []
    alias: "SDP"
  ska-dish-lmc:
    version: "file://charts/dish-lmc/Chart.yaml"
    dependencies:
      - "ska-mid-dish-spfrx-talondx-console"
      - "ska-te-dish-structure-simulator"
    alias: "Dish"
  ska-te-dish-structure-simulator:
    version: "file://charts/dish-structure-simulators/Chart.yaml"
    dependencies: []
    alias: "DS Simulator"
  ska-csp-lmc-mid:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: ["ska-mid-cbf-mcs"]
    alias: "CSP"
  ska-mid-cbf-mcs:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: []
    alias: "CBF MCS"
  ska-tango-taranta:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: ["ska-tango-tangogql"]
    alias: "Taranta"
  ska-tango-tangogql:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: []
    platformDependents: []
    alias: "TangoGQL"
  ska-log-consumer:
    version: "file://charts/ska-mid-itf-sut/Chart.yaml"
    dependencies: []
    platformDependents: []
    alias: ""
  ska-mid-dish-spfrx-talondx-console:
    version: "file://charts/dish-lmc/Chart.yaml"
    dependencies: []
    alias: "TalonDx Console"
