#!/bin/bash

export KUBECONFIG_SAVED=$KUBECONFIG
export KUBECONFIG={{ shared_team_config_dir }}/kubeconfig
echo "KUBECONFIG has been set to $KUBECONFIG:"
source <(kubectl completion bash)
kubectl config view | grep server
echo "##############################################################################"
