# Ethernet Configuration file

[Match]
Name=eth0

[Address]
{% if dish_index is defined %}
Address=10.160.{{ dish_index }}.5/26

[Network]
Gateway=10.160.{{ dish_index }}.62
Network=10.160.{{ dish_index }}.0
{% else %}
Address={{ ansible_host }}

[Network]
Gateway=10.165.3.245
Network=10.165.3.0
{% endif %}
Netmask=255.255.255.192
DNS=10.81.228.213
DNS=10.81.228.214


[Link]
MACAddress=00:11:22:33:44:01
