# Ethernet Configuration file

[Match]
# Match any device that starts with the following name
Name=eth1

[Address]
# Address section allows specification of IP address for this gmac
Address=192.168.8.53/16

[Link]
MTUBytes=4000
