Host gaia
    HostName 10.165.3.7   
    User {{ ad_user }}
    ForwardAgent yes

Host pi0
    HostName 10.165.3.11
    User {{ ad_user }}
    ForwardAgent yes

Host pi4
    HostName 10.165.3.15
    User {{ ad_user }}
    ForwardAgent yes
 
Host talon1
    HostName 10.165.3.29
    User root
    ProxyJump gaia

Host talon2
    HostName 10.165.3.30
    User root
    ProxyJump gaia

Host spfrx1
    HostName 10.165.3.20
    User root
    ForwardAgent yes

Host spfrx2
    HostName 10.165.3.21
    User root
    ForwardAgent yes

Host spfrx3
    HostName 10.165.3.22
    User root
    ForwardAgent yes

Host spfrx4
    HostName 10.165.3.23
    User root
    ForwardAgent yes