---
apiVersion: v2
name: ska-mid
description: An umbrella Helm chart for deployment of the Mid System
type: application
version: 29.5.2-test-new-products-f
appVersion: 29.5.2-test-new-products-f
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  # Tango Base & Deployment Charts: TangoDB, iTango, Tango Operator Utils
  - name: ska-tango-base
    version: 1.0.4
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-base.enabled
  - name: ska-tango-util
    version: 1.0.4
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-util.enabled

  # Mid TMC
  - name: ska-tmc-mid
    version: 1.13.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tmc-mid.enabled

  # Mid WMS Simulator
  - name: ska-mid-wms
    version: 0.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-wms.enabled

  # Mid CSP LMC
  - name: ska-csp-lmc-mid
    version: 1.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-csp-lmc-mid.enabled

  # Mid CBF TDC MCS
  - name: ska-mid-cbf-tdc-mcs
    version: 1.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-cbf-tdc-mcs.enabled

  # Mid CBF TM Simulator - temporary only for CBF internal testing at the KAPB
  # - name: ska-mid-cbf-tdc-tmleafnode
  #   version: 1.3.2
  #   repository: https://artefact.skao.int/repository/helm-internal
  #   condition: ska-mid-cbf-tdc-tmleafnode.enabled

  # Mid CBF EC
  - name: ska-mid-cbf-engineering-console
    version: 1.2.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-cbf-engineering-console.enabled

  # PST
  # - name: ska-pst
  #   version: 1.3.2
  #   repository: https://artefact.skao.int/repository/helm-internal
  #   condition: ska-pst.enabled

  # SDP
  - name: ska-sdp
    version: 2.1.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-sdp.enabled

  # OSO integration
  - name: ska-oso-integration
    version: 1.0.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-oso-integration.enabled

  # SKA ODA
  # when upgrading this major version, also adjust versions in Makefile URLs
  - name: ska-db-oda-umbrella
    repository: https://artefact.skao.int/repository/helm-internal
    version: 14.0.4
    condition: ska-db-oda-umbrella.enabled

  # DISH LMC CHART
  - name: ska-dish-lmc
    version: 9.3.0-rc.5
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-dish-lmc.enabled

  # DISH STRUCTURE SIMULATOR
  - name: ska-te-dish-structure-simulator
    version: 0.11.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-ds-sim.enabled
    alias: ska-ds-sim

  # SPFC DEPLOYER CHART
  - name: ska-mid-dish-spfc-deployer
    version: 0.4.4
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-dish-spfc-deployer.enabled

  # SPFRx DEPLOYER CHART
  - name: ska-mid-dish-spfrx-talondx-console
    version: 2.1.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-dish-spfrx-talondx-console.enabled

  # TARANTA SUITE
  - name: ska-tango-taranta
    version: 2.18.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-taranta.enabled

  # MULTIDB TANGOGQL
  - name: ska-tango-tangogql-ariadne
    version: 1.0.7
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-taranta.enabled
    alias: tangogql

  # AlarmHandler
  - name: ska-tango-alarmhandler
    version: 0.6.0-rc.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-alarmhandler.enabled

  # DPD
  - name: ska-sdp-dataproduct-dashboard
    version: 0.8.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-dataproduct-dashboard.enabled
    alias: ska-dataproduct-dashboard

  # EDA
  - name: ska-tango-archiver
    version: 5.0.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-archiver.enabled

  # Configuration Inspector API
  # Gitlab Location: https://gitlab.com/ska-telescope/ska-ser-config-inspector
  # Releases: https://gitlab.com/ska-telescope/ska-ser-config-inspector/-/releases
  # - name: ska-ser-config-inspector
  #   version: 0.2.3 # check latest version
  #   repository: https://artefact.skao.int/repository/helm-internal
  #   condition: ska-ser-config-inspector.enabled

  # Test helpers
  - name: ska-log-consumer
    version: 0.1.6
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-log-consumer.enabled

  # Octopus Suite
  - name: ska-octopus-backend
    version: 0.1.72
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-octopus-backend.enabled

  - name: ska-octopus-frontend
    version: 0.1.72
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-octopus-frontend.enabled

  # EXAMPLE DEV CHART: DON'T DELETE THIS SECTION
  # - name: ska-sdp
  #   version: 0.19.0-dev.c651132b9
  #   repository: https://gitlab.com/api/v4/projects/21141217/packages/helm/dev
