#!/bin/bash

# Only set kubeconfig for the {{ team_primary_group }} group.
if id -nG "${USER}" | grep -vqw {{ team_primary_group }}; then
    return 0
fi

export KUBECONFIG_SAVED=$KUBECONFIG
export KUBECONFIG={{ shared_team_config_dir }}/kubeconfig
case ${USER} in
p.jordaan | a.debeer)
    kubectl config use-context kubernetes-admin@kubernetes
    ;;
*)
    kubectl config use-context atlas-integration-mid-kubernetes
    ;;
esac
echo "KUBECONFIG has been set to $KUBECONFIG."
echo "##############################################################################"
