#!/bin/bash

# Only set kubeconfig for the {{ team_primary_group }} group.
if id -nG "${USER}" | grep -vqw {{ team_primary_group }}; then
    return 0
fi

export KUBECONFIG_SAVED=$KUBECONFIG
export KUBECONFIG={{ shared_team_config_dir }}/kubeconfig

if [ ! -f ${KUBECONFIG} ]; then
    echo "KUBECONFIG=${KUBECONFIG} does not exist, kube context not set."
    return 0
fi

if id -nG "${USER}" | grep -qw {{ team_admin_group }}; then
    kubectl config use-context {{ kube_admin_context }}
else
    kubectl config use-context {{ kube_context }}
fi

echo "KUBECONFIG has been set to $KUBECONFIG."
echo "##############################################################################"
