global:
  ska-tango-archiver:
    enabled: true
  # Used by TMC dishleafnode for Dish LMC device identifier triplet.
  # The TMC centralnode's values are hardocoded at the moment.
  dish_suffix: "elt/master"
  minikube: false
  tango_host: tango-databaseds:10000
  facility: mid-itf
  operator: true
  exposeAllDS: true
  data-product-pvc-name: test-pvc
  use_aws: true
  sub-system:
    ska-tango-base:
      enabled: false

ska-tango-base:
  itango:
    enabled: true
  tangodb:
    use_pv: true

# TARANTA
ska-taranta:
  enabled: true
  tango_dbs: [] # This is an empty list if there are no connections to external tangoDBs. Override during deploy-time using `helm install --set ...`
  tangogql:
    replicas: 1
    resources:
      requests:
        cpu: 600m # 600m = 0.6 CPU
        memory: 512Mi # 512Mi = 0.5 GB mem
      limits:
        cpu: 1000m # 1000m = 1 CPU
        memory: 1024Mi # 1024Mi = 1 GB mem

# TANGOGQL
tangogql:
  tangodb: centralmc # This is the name of the TangoDB that should always be set first when deploying a multiDB Taranta system
  enabled: true
  ska-tango-base:
    enabled: false
  ska-tango-examples:
    enabled: false

# CIA
ska-ser-config-inspector:
  enabled: true

ska-mid-cbf-tdc-mcs:
  enabled: true
  num_subarrays: 3
  hostInfo:
    environment: "mid-itf"
    clusterDomain: "miditf.internal.skao.int"

ska-mid-cbf-engineering-console:
  enabled: false
  # Comment section below to use engineering-console image from CAR
  # Uncomment section below to use engineering-console image from gitlab
  # engineeringconsole:
  #   image:
  #     registry: registry.gitlab.com/ska-telescope/ska-mid-cbf-engineering-console
  #     image: ska-mid-cbf-engineering-console
  #     tag: 0.10.8-dev.c9206d147
  #     pullPolicy: IfNotPresent

ska-mid-cbf-tmleafnode:
  enabled: true

ska-csp-lmc-mid:
  legacy_compatibility: true
  enabled: true

### tmc - also see tmc-values for DishIDs!
ska-tmc-mid:
  telescope: SKA-mid
  ska-tango-base:
    enabled: false
  dishleafnode:
    image:
      tag: 0.19.6 ## TEMPORARY COMMIT: This is an override to test verification of SKB-606
  cspsubarrayleafnode:
    image:
      tag: 0.21.4
  deviceServers:
    mocks:
      enabled: true
      dish: true
      csp: false
      sdp: false
    centralnode:
      subarray_count: 1
      DishVccConfig:
        DishVccUri: "car://gitlab.com/ska-telescope/ska-telmodel-data?0.1.0-rc-mid-itf#tmdata"
        DishVccFilePath: "instrument/ska1_mid_itf/ska-mid-cbf-system-parameters.json"
    cspsubarrayleafnode:
      TelmodelSource: gitlab://gitlab.com/ska-telescope/ska-mid-itf?main#tmdata
      TelmodelPath: instrument/ska1_mid_itf/layout/aa05-zerodelay-itf-layout.json
      # DelayCadence: 10.0
      # DelayValidityPeriod: 20.0
      # DelayModelTimeInAdvance: 30
      # SleepTime: 1.5
      CommandTimeOut: 300
    sdpsubarrayleafnode:
      CommandTimeout: 90
    subarraynode:
      CommandTimeOut: 300
  resources:
    # limits:
    #   cpu: 800m
    requests:
      cpu: 400m

ska-sdp:
  helmdeploy:
    enableNADClusterRole: true
  legacy_compatibility: true
  enabled: true
  lmc:
    prefix: mid
    nsubarray: 3
  data-pvc:
    create:
      enabled: true
      size: 2Ti
      storageClassName: ceph-cephfs
  ska-tango-base:
    enabled: false

# helpers
ska-log-consumer:
  enabled: false

# EDA
ska-tango-archiver:
  enabled: true
  hostname: eda.ska-tango-archiver
  dbname: itf_eda
  dbuser: admin
  port: 5432
  telescope: SKA-mid
  telescope_environment: MID-ITF
  configuration_manager: mid-eda/cm/01
  event_subscriber: mid-eda/es/01
  archwizard_config: MyHDB=tango://tango-databaseds:10000/mid-eda/cm/01
  archviewer:
    instances:
      - name: "mid"
        timescale_host: "10.164.11.33"
        #     #keep below field empty if db names are unknown, app will display all dbs present
        #     #e.g:timescale_databases: ""
        timescale_databases: "itf_eda"

# Temporary configuration for PVC
# See templates/pvc.yaml
temp_sdp_pvc:
  dpd_namespace: ska-dpd
  dpd_pvc: shared-mnl
