apiVersion: v2
name: ska-mid-itf-dish-lmc
description: An umbrella Helm chart for deploying the Dish LMC and necessary peripherals
type: application
version: 25.6.2
appVersion: 25.6.2
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  # TANGO DEPENDENCIES
  - name: ska-tango-base
    version: 0.4.15
    repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-tango-util
    version: 0.4.15
    repository: https://artefact.skao.int/repository/helm-internal

  # TARANTA APPLICATION
  - name: ska-tango-taranta
    version: 2.13.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-tangogql-ariadne
    version: 1.0.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
    alias: ska-tango-tangogql

  # DISH LMC CHART
  - name: ska-dish-lmc
    version: 7.0.0
    repository: https://artefact.skao.int/repository/helm-internal

  # SPFRx DEPLOYER CHART
  - name: ska-mid-dish-spfrx-talondx-console
    version: 0.5.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-dish-spfrx-talondx-console.enabled

  # SPFC DEPLOYER CHART
  - name: ska-spfc-deployer
    version: 0.1.8-dev.ce4fc8598
    # repository: https://artefact.skao.int/repository/helm-internal
    repository: https://gitlab.com/api/v4/projects/52159216/packages/helm/dev
    condition: ska-spfc-deployer.enabled

  # SKA Configuration Inspector API
  # Gitlab Location: https://gitlab.com/ska-telescope/ska-ser-config-inspector
  # Releases: https://gitlab.com/ska-telescope/ska-ser-config-inspector/-/releases
  - name: ska-ser-config-inspector
    version: 0.2.3 # check latest version
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-ser-config-inspector.enabled

  - name: ska-tango-archiver
    version: 2.8.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-archiver.enabled
