apiVersion: v2
name: ska-mid-itf-devices
description: An umbrella Helm chart for providing resources to the Mid ITF cluster
type: application
version: 23.4.1-rc2
appVersion: 23.4.1-rc2
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  # SPOOKD
  - name: ska-ser-k8s-spookd
    version: 0.2.2 # check latest version
    repository: https://artefact.skao.int/repository/helm-internal
    alias: spookd
    condition: spookd.enabled
