---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ .Values.vault.edaCredentials.secretName }}
  namespace: {{ .Values.namespace }}
spec:
  destination:
    create: true
    name: {{ .Values.vault.edaCredentials.secretName }}
    type: Opaque
    transformation:
      excludeRaw: true
      excludes:
        - '.*'
      templates:
        {{ .Values.environment.EDA_USER }}:
          text: '{{ printf "{{ get .Secrets %q | toString }}" .Values.vault.edaCredentials.usernameKey }}'
  mount: {{ .Values.vault.edaCredentials.mount }}
  path: {{ .Values.vault.edaCredentials.mountPath }}
  refreshAfter: 300s
  type: kv-v2
  version: 3
---
