---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ .Values.vault.edaCredentials.secretName }}
  namespace: {{ .Values.namespace }}
spec:
  destination:
    create: true
    name: {{ .Values.vault.edaCredentials.secretName }}
    type: Opaque
    transformation:
      excludeRaw: true
      excludes:
        - '.*'
      templates:
        eda_ro:
          text: '{{ "{{ get .Secrets \"eda_ro\" | toString }}" }}'
  mount: {{ .Values.vault.edaCredentials.mount }}
  path: {{ .Values.vault.edaCredentials.mountPath }}
  refreshAfter: 300s
  type: kv-v2
  version: 3
---
